@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

.logo {
  height: 70px;
  width: 70px;
}

.profile_thumb {
  border-radius: 100%;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

p,h1,h5 {
  font-family: Poppins;
}  

.match-name {
  font-size: 18px;
}

.hidden {
  font-weight: 300;
  font-size: 10px;
}
  